@*

    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Raybod.SCM.DataTransferObject.License
@model LicenceDTO
@{
}
<form asp-controller="home" asp-action="GetLicence" method="post" style="text-align:right">
    <div class="form-group">
        <label for="exampleInputEmail1">نام کاربری</label>
        <input type="email" asp-for="Username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">نام کاربری خود را وارد کنید</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">کد فعالسازی</label>
        <input type="text" asp-for="ActivationCode" class="form-control" id="exampleInputPassword1">
    </div>

    <button type="submit" class="btn btn-primary">ثبت</button>
</form>